
table.table {
  width: 72%;
  padding-top: 15vh;
  margin-left: 14%;
  background: white;
  @media (max-width: 768px) {
    padding-top: 8vh;
    margin-left: 0;
  }
}

.table td,
.channel-table td {
  text-align: left;
  padding: 0.25em;
  display: flex;
  height: 25vh;
  @media (max-width: 768px) {
    height: 19vh;
  }
}

.table tr,
.channel-table tr {
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3, 3, 3, 0.2);
  }
  td,
  th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3, 3, 3, 0.2);
  }
}
.video-img {
  width: 20vw;
  display: inline-block;
  margin-right: 5vw;
  @media (max-width: 768px) {
    width: 52vw;
  }
  img {
    width: 100%;
    @media (max-width: 768px) {
      height: 100%;
    }
  }
}
.video-description {
  display: inline-block;
  width: 35vw;
  @media (max-width: 768px) {
    font-size: 8px !important;
  }
  span {
    font-size: 20px;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 8px;
    }
  }
  p {
    margin: 0px;
  }
}
.link {
  border: none;
  background: white;
  text-decoration-line: underline;
}

#nameOfVideoHidden {
  display: none !important;
}
